# --- Секреты и конфигурация (Критически важно для ЛР №2) ---
.env
.env.local
.env.*.local

# --- Python: Кэш и временные файлы ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# --- Виртуальное окружение ---
venv/
env/
.venv/
ENV/

*.db

# --- Docker ---
# Игнорируем данные базы данных, чтобы они не попадали в git при локальном запуске
pgdata/

# --- Логи и системные файлы ---
*.log
.DS_Store
Thumbs.db